RewriteEngine On

# Redireccionar las rutas de API a los archivos PHP correspondientes
RewriteRule ^api/disenos/validate/([^/]+)/([^/]+)/?$ api/disenos.php [QSA,L]
RewriteRule ^api/disenos/([^/]+)/?$ api/disenos.php [QSA,L]
RewriteRule ^api/disenos/?$ api/disenos.php [QSA,L]

RewriteRule ^api/competencias/validate/([^/]+)/([^/]+)/?$ api/competencias.php [QSA,L]
RewriteRule ^api/competencias/diseno/([^/]+)/?$ api/competencias.php [QSA,L]
RewriteRule ^api/competencias/([^/]+)/?$ api/competencias.php [QSA,L]
RewriteRule ^api/competencias/?$ api/competencias.php [QSA,L]

RewriteRule ^api/raps/validate/([^/]+)/([^/]+)/([^/]+)/?$ api/raps.php [QSA,L]
RewriteRule ^api/raps/competencia/([^/]+)/?$ api/raps.php [QSA,L]
RewriteRule ^api/raps/([^/]+)/?$ api/raps.php [QSA,L]
RewriteRule ^api/raps/?$ api/raps.php [QSA,L]
